* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 500;
  background: rgb(21, 32, 43);
}

.search-form {
  margin-top: 5%;
  margin-bottom: 2%;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.search-form h1 {
  color: white;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.search-bar {
  border-radius: 2rem;
  border: none;
  margin-bottom: 0.5em;
  padding-left: 2%;
  transition: 0.5s;
  height: 2em;
  font-weight: 700;
}
.search-bar:hover,
.search-bar:focus {
  outline: none;
  box-shadow: 0 0 10px white;
}
.search-button {
  background-color: rgb(199, 196, 196);
  width: 10%;
  border-radius: 2rem;
  border: none;
  font-weight: 700;
  height: 1.5em;
  transition: 0.5s;
}

.search-button:hover,
.search-button:focus {
  background-color: white;
  box-shadow: 0 0 10px white;
}

.recipes-list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.recipe {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  background: rgb(236, 227, 227);
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  align-items: center;
  transition: 0.5s;
  padding: 0 2% 0 2%;
}
.recipe_name {
  margin-bottom: 0.5em;
   border-bottom: 2px dotted #000;
}
.recipe:hover {
  box-shadow: 0 0 10px white;
  background: white;
}
.recipe_ingredients-list {
  list-style-type: none;
  margin-bottom: 0.5em;
}
.recipe_calories-counter {
  font-weight: 700;
  margin-bottom: 0.5em;
}
.recipe_thumb {
  padding: 2vh 0 2vh 0;
  max-width: 20vw;
  max-height: 40vh;
  border-radius: 10rem;
}
.recipe_link {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1080px) {
  .search-button {
    width: 30%;
  }
  .recipes-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .recipe {
    border: black 2px solid;
    width: 45vw;
  }
}

@media screen and (max-width: 500px) {
  .search-button {
    width: 50%;
  }
  .recipes-list {
    display: flex;
    flex-direction: column;
  }
  .recipe {
    min-width: 100%;
  }
}
